<!DOCTYPE html>

<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
	<title>Filter Builder</title>
</head>
<body>
	<div id="filterbuilder">
		<span id="description">Items with all of the conditions will be returned</span>
		<div id="clauses">
			<!-- clauses go here -->
		</div>
		<a id="clause-add" href="#">Add</a>
	</div>
	
	<script type="text/javascript" charset="utf-8">
		var json_fields = [
			{
				fieldName: "Title",
				fieldType: "string"
			},
			{
				fieldName: "PublishDate",
				fieldType: "date"
			},
			{
				fieldName: "PageCount",
				fieldType: "number"
			}
		];
		
		var json_clauses = [
			{
				fieldName: 'Title',
				comparator: 'contains',
				values: ['poop']
			},
			{
				fieldName: 'PageCount',
				comparator: '>',
				values: ['100']
			},
			{
				fieldName: 'PageCount',
				comparator: 'between',
				values: ['0','100']
			}

		] ;
	</script>
	<script src="jquery-1.10.0.js" type="text/javascript"></script>
	<script src="underscore.js" type="text/javascript"></script>
	<script src="backbone.js" type="text/javascript"></script>
	<script src="backbone.localStorage.js" type="text/javascript"></script>
	<script src="filterbuilder.js" type="text/javascript"></script>
	<script type="text/template" id="clause-template">
		<select class="clause-field">
		<% _.each(fields, function(f) { %>
			<option <%= field.fieldName == f.fieldName ? 'selected' : '' %>>
				<%= f.fieldName %>
			</option>
		<% }); %>
		</select>
		
		<select class="clause-comparator">
		<% _.each(COMPARATORS[field.fieldType], function(c) { %>
			<option <%= c == comparator ? 'selected' : '' %>>
				<%= c %>
			</option>
		<% }); %>	
		</select>

		<% if(comparator == 'between'){ %>
			<input type="text" value="<%= values[0] %>"/>
			<span>and</span>
			<input type="text" value="<%= values[1] %>"/>			
		<% } else { %>
			<input type="text" value="<%= values[0] %>"/>
		<% } %>

		<a href="#" class="destroy">( x )</a>
  	</script>

</body>
</html>